.bundle
vendor
/vendor/
bin
*.lock
id_rsa
zone_config
*.zoneconfig
_tmp_package
package.box
Vagrantfile
exec
.vagrant/*
*/.vagrant/*
example-box/homestead-example/.vagrant
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.config
.yardoc
*.box
/synced_folders
.venv
.idea/
*.iml
*.rbc
*.gem
